.TalentRoot
{
	width: 625px;
	height: 325px;
	
	horizontal-align: center;
	vertical-align: center;
	
	margin-top: 37%;
	margin-right: 40%;
}

#TalentBackground
{
	width: 100%;
	height: 100%;
	margin: 8px;
	background-color: gradient( linear, 0% 0%, 0% 80%, from( #778899 ), to( #2F4F4F ) );
}

.hidden
{
	visibility: collapse;
}

#TalentTree
{
	horizontal-align: center;
	vertical-align: top;
	
	margin-top: 5px;
	font-size: 24px;
	color: gradient( linear, 0% 20%, 80% 0%, from( #F0FFF0 ), to( #FFFFF0 ) );
}

#Divider
{
	width: 100%;
	height: 11%;
	
	horizontal-align: center;
	vertical-align: top;
	
	background-color: gradient( linear, 0% 80%, 0% 0%, from( #A0522D ), to( #8B4513 ) );
}

#OpenButton.hidden
{
	width: 70px;
	height: 70px;
	
	margin-right: 50px;
	
	horizontal-align: right;
	vertical-align: bottom;
	
	background-color: gradient( linear, 0% 0%, 0% 80%, from( #cbcbcbff ), to( #a0a0a0a0 ) );
}

#OpenButton:hover
{
	blur: gaussian( 2.5 );
	border: 4px solid #cbcbcbff;
}

#OpenButton:active
{
	background-color: rgba(255,255,255,0.5);
	border: 3px solid #a0a0a0a0;
}

#CloseButton
{
	width: 40px;
	height: 40px;
	
	horizontal-align: right;
	vertical-align: top;

	background-color: gradient( linear, 0% 0%, 0% 80%, from( #cbcbcbff ), to( #a0a0a0a0 ) );
}

#CloseButton:hover
{
	blur: gaussian( 2.5 );
	border: 4px solid #cbcbcbff;
}

#CloseButton:active
{
	background-color: rgba(255,255,255,0.5);
	border: 3px solid #a0a0a0a0;
}

#TalentLeft
{
	width: 49.5%;
	height: 100%;
	
	margin-top: 50px;
	flow-children: down;
}

#TalentRight
{
	width: 49.5%;
	height: 100%;
	
	horizontal-align: right;
	margin-top: 50px;
	flow-children: down;
}

#Talent1
{
	width: 100%;
	height: 19.5%;
	
	margin-bottom: 2px;
	background-color: gradient( linear, 0% 0%, 0% 90%, from( #2F4F4F ), to( #000000) );
}

#Talent2
{
	width: 100%;
	height: 19.0%;
	
	margin-bottom: 2px;
	background-color: gradient( linear, 0% 0%, 0% 90%, from( #2F4F4F ), to( #000000) );
}

#Talent3
{
	width: 100%;
	height: 19.0%;
	margin-bottom: 2px;
	background-color: gradient( linear, 0% 0%, 0% 90%, from( #2F4F4F ), to( #000000) );
}

#Talent4
{
	width: 100%;
	height: 19.0%;
	margin-bottom: 2px;
	background-color: gradient( linear, 0% 0%, 0% 90%, from( #2F4F4F ), to( #000000) );
}

#Talent5
{
	width: 100%;
	height: 19.0%;
	margin-bottom: 2px;
	background-color: gradient( linear, 0% 0%, 0% 90%, from( #2F4F4F ), to( #000000) );
}

#Talent6
{
	width: 100%;
	height: 19.5%;
	
	margin-bottom: 2px;
	background-color: gradient( linear, 0% 0%, 0% 90%, from( #2F4F4F ), to( #000000) );
}

#Talent7
{
	width: 100%;
	height: 19.5%;
	
	margin-bottom: 2px;
	background-color: gradient( linear, 0% 0%, 0% 90%, from( #2F4F4F ), to( #000000) );
}

#Talent8
{
	width: 100%;
	height: 19.5%;
	
	margin-bottom: 2px;
	background-color: gradient( linear, 0% 0%, 0% 90%, from( #2F4F4F ), to( #000000) );
}

#Talent9
{
	width: 100%;
	height: 19.5%;
	
	background-color: gradient( linear, 0% 0%, 0% 90%, from( #2F4F4F ), to( #000000) );
}

#Talent10
{
	width: 100%;
	height: 19.5%;
	
	background-color: gradient( linear, 0% 0%, 0% 90%, from( #2F4F4F ), to( #000000) );
}